$colorPrimero:#C6005F;
$colorSegundo:#7217B3;
$colorTercero:#484848;
$rosa:#D8B2F4;
$blanco:#E5E5E5;

$bgTopNav: #C6005F;
$colorTopNav: #E5E5E5;
$colorNav: #E5E5E5;
$colorH1: #C6005F;
$colorH2: #636363;
$colorH3: #484848;
$bgNav:#AA36B5;
$bgFooter: #DADADA;
$colorFooter: #919191;
$colorTitulos: #E5E5E5;

