@import "colores";
@import "sizes";
@import "responsive";
@import "boxmodel";
@import "flexbox";
@import "footer";
@import "nav";
@import "topnav";
@import "contacto";
@import "index";



body{font-family: Quicksand, sans-serif;
overflow-x: hidden;}

h1{
    font-family: 'Questrial', sans-serif;
    color: $colorH1;
    font-size: 3.5rem;
    margin-top: $m-50;
    margin-bottom: $m-30;
}

h2{
    color: $colorH2;
    font-weight: bold;
    margin-top: $m-20;
    margin-bottom: $m-5;
}

h3{
    color: $colorH3;
    font-weight: bold;
    font-family: Catamaran, sans-serif;
    margin-top: $m-20;
    margin-bottom: $m-5;
}


.experiencia__cards{
    @include flexRowWrap;
    gap: 10px;
    width: 500px;
    margin-top: $m-10;
    margin-bottom: $m-10;
    @media only screen and (min-width:1024px){
    padding-right: 40%;
    }
}



.card-img-top{width: 50%;}

.card-text{
    font-weight: bold;
    font-size: $textoBajada;
}

.card-title{
font-weight: bold;
}

.card-text-princ{
    font-weight: bold;
    font-size: $textoBajada*1.5;
}

.sidebarLogo{padding: 5%;}

.cardExp{
    align-items: center;
}

.nosotros__persona--foto{
    margin-top: $p-20;
    margin-bottom: $p-20;
    max-width: 150px;

}

.nosotros__persona{
display: flex;
flex-direction: column;
align-items: center;
}

.nosotros__persona--texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.servicios__video{
        max-width: 90%;    
}

.error__linkIndex{
    color: $colorTercero; 
    font-weight: bold;
    text-decoration: none;
}

.error__linkIndex:hover{color: $colorSegundo;
    text-decoration: none;
}

.contenido__img--top{
    background-color: $blanco;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 240px;
}

.contenido__img--top p{
    font-family: 'Questrial', sans-serif;
    width: 60%;
}

.card-body{
    text-align: center;
}

.form-content .form-items {
    min-width: auto;
    width: 90%;
}

.form-content{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:769px){
    .card-body{
        text-align: left;
    }

    .card-body-princ{margin-left: 30px;}

    .plan__img{width: 70%;}

    .plan__p{width: 70%;}

    .servivicios__p{
        padding-right: 50%;
        margin-bottom: $m-50;
    }

    .nosotros__persona{
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 25px;
    }

    .nosotros__persona--texto{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .form-content .form-items {
        width: 600px;
        margin-left: 30px;
    }
    
    .form-content{
        display: flex;
        justify-content: normal
    }
}